@import "./globals.scss";

.main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gradientBg {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: 400%;
    // background: linear-gradient(40deg, $--color-bg1, $--color-bg2);
    background-image: $--gradient;
    transition: background 0.5s ease-in-out;
    animation: moveGradient 10s infinite alternate;
    @keyframes moveGradient {
        0% {
            background-position: left;
        }
        100% {
            background-position: right;
        }
    }

    svg {
        display: none;
    }
    .graidentContainer {
        filter: url(#goo) blur(48px);
        z-index: 2;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .g1 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(184, 208, 253, 0.5), #dd4aff00 50%) no-repeat;
        mix-blend-mode: $blending;
        width: calc($--color-size + 20px);
        height: calc($--color-size + 20px);
        opacity: 1;
        top: calc(20% + $--color-size / 2);
        left: calc(50% + $--color-size / 2);
        transform-origin: center center;
        animation: moveVertical 5s ease infinite alternate;
    }
    .g2 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(255, 0, 255, 0.5), #dd4aff00 50%) no-repeat;
        mix-blend-mode: $blending;
        width: $--color-size;
        height: $--color-size;
        opacity: 1;
        top: calc(30% - $--color-size / 2 + 10px);
        left: calc(50% - $--color-size / 2 + 10px);
        transform-origin: center center;
        animation: moveInCircle 5s ease infinite alternate;
    }
    .g3 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(255, 0, 0, 0.5), #dd4aff00 50%) no-repeat;
        mix-blend-mode: $blending;
        width: $--color-size * 5;
        height: $--color-size * 5;
        opacity: 1;
        top: calc(50% - $--color-size / 2 + 280px);
        left: calc(50% - $--color-size / 2 + 280px);
        transform-origin: center center;
        animation: moveVertical 3300ms ease-in-out infinite alternate;
    }
    .g4 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(255, 255, 0, 0.5), #dd4aff00 50%) no-repeat;
        mix-blend-mode: $blending;
        width: $--color-size * 3;
        height: $--color-size * 3;
        opacity: 1;
        top: calc(50% - $--color-size / 2);
        left: calc(50% - $--color-size / 2 + 200px);
        transform-origin: center center;
        animation: moveVertical 20s reverse infinite alternate;
    }
    .g5 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(0, 255, 0, 0.5), #dd4aff00 50%) no-repeat;
        mix-blend-mode: $blending;
        width: $--color-size * 2;
        height: $--color-size * 2.5;
        opacity: 1;
        top: calc(50% - $--color-size);
        left: calc(50% - $--color-size);
        transform-origin: center center;
        animation: moveVertical 5s ease-in-out infinite alternate;
    }

    .interactive {
        position: absolute;
        offset-anchor: center;
        background-position: center;
        background: radial-gradient(circle at center, rgba(252, 99, 99, 0.5), #dd4aff00 50%) no-repeat;
        mix-blend-mode: $blending;
        width: $--color-size * 3;
        height: $--color-size * 3;
        transform: translate(-50%, -50%);
        opacity: 0.7;
    }

    @keyframes moveVertical {
        0% {
            transform: translateY(-400px);
        }
        50% {
            transform: translateY(200px);
        }
        100% {
            transform: translateY(-200px);
        }
    }
    @keyframes moveInCircle {
        0% {
            transform: rotate(0deg) translateX(0px) rotate(0deg);
        }
        50% {
            transform: rotate(180deg) translateX(200px) rotate(-180deg);
        }
        100% {
            transform: rotate(360deg) translateX(0px) rotate(-360deg);
        }
    }
}
.page {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.MainMenu {
    z-index: 3;
    position: relative;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DisplayUsersPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    justify-content: center;
    margin: 0;
    color: rgb(234, 234, 234);
}
.title {
    font-family: $title-font;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    text-shadow: #eeafaf 0px 0px 10px;
    color: rgb(211, 234, 202);
    color: #6c00a2;
}

.homePage {
    z-index: 2;
    border-radius: 50px;
    background: transparent;
    position: relative;
    box-shadow:
        20px 20px 60px #000e4685,
        -20px -20px 60px #00145e8f;
    padding: 2rem;
    margin-top: 2rem;
    color: white;
    .blurBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        backdrop-filter: blur(30px);
        z-index: -1;
        filter: drop-shadow(24px -1);
    }
    input {
        color: blue;
    }
}

.title {
    font-family: $title-font;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    text-shadow: #eeafaf 0px 0px 10px;
    color: rgb(211, 234, 202);
}

.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    left: 1rem;
    width: 200px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    font-weight: 700;
    padding: 0.5rem;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);

    &:hover {
        background-position: 100% 0;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    &:focus {
        outline: none;
    }
}
.backButton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    padding: 0.5rem;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 56px;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    p {
        margin: 0;
    }

    &:hover {
        background-position: 100% 0;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    &:focus {
        outline: none;
    }
}

.links {
    margin: 1rem;
    color: rgb(121, 251, 212);
    &:hover {
        color: rgb(205, 250, 238);
    }
    :visited {
        color: rgb(108, 247, 233);
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    .nav_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.2rem;
        line-height: 3rem;
        font-weight: 700;
        padding: 0.5rem;
        color: #fff;
        cursor: pointer;
        margin: 20px;
        height: 55px;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
        box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
        p {
            margin: 0;
        }
    }

    &:hover {
        background-position: 100% 0;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    &:focus {
        outline: none;
    }
}

.form {
    display: flex;
    padding: 3rem 0;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    min-width: 280px;
    max-width: 500px;
    max-height: 645px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2rem;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.56), rgba(255, 255, 255, 0.073) 70%);
    border-radius: 0.8rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    h2 {
        color: rgba(255, 255, 255, 0.777);
    }

    .backButton {
        position: fixed;
    }

    .blurBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(40px);
        z-index: -1;
        filter: drop-shadow(24px -1);
    }
    .form_title {
        color: #fff;
        font-size: 1.3rem;
        margin: 0.25rem 0;
    }
    .form_input {
        background-color: transparent;
        color: #fff;
        margin: 0.1rem;
        input {
            letter-spacing: 0.05rem;
        }
        &:focus {
            outline: none !important;
        }
        &:hover {
            border-color: white !important;
        }
        &::before {
            border-color: transparent;
            height: 1px;
            background: linear-gradient(to right, $--color-bg1, $--color-bg2);
            &:hover {
                border-color: white !important;
            }
        }
        .css-1ff8729-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disabled, .Mui-error):before {
            border-color: white !important;
        }
        .css-1bvwehx-JoyInput-root:before{
            border: none;
        }
    }
    .form_button {
        background-image: linear-gradient(to right, #25aae1, #40e495, #28b16f, #2a9360);
        box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
        color: white;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-top: 1rem;
        width: 80%;
        background-size: 300% 100%;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-position: 100% 0;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

        &:focus {
            outline: none;
        }
    }
}

.visitedUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 500px;
    max-width: 500px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: #bd2e2e1a;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(190, 7, 7, 0.3);
        border-radius: 4px;
    }
}
.users {
    background-color: rgb(15, 6, 70);
    border-radius: 0.9rem;
    padding: 0.2rem;
    text-align: center;
    margin: 1rem;
    width: 100%;
    max-width: 200px;
}
