@import './globals.scss';

.main {
    font-family: Arial, Helvetica, sans-serif;
    background: url('../assets/Hexagon.svg');
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.displayDataPage {
    display: flex;
    position: relative;
    top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}

.backButton {
    background-color: rgb(248, 204, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 1.1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0.5rem;
    &:focus {
    outline: none;
    }
}
.backButton2 {
    background-color: rgb(248, 204, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    left: 1rem;
    max-width: 25vw;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 1.1rem;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0.5rem;
    &:focus {
    outline: none;
    }
    :hover {
        background-color: rgba(248, 204, 46, 0.595);
        color: white;
        cursor: pointer;
    }

}

.links {
    margin: 1rem;
    color: rgb(55, 117, 30);
    :visited {
        color: rgb(55, 117, 30);
    
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    .nav_button {
        background-color: rgb(248, 204, 46);
        color: white;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.0rem;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin: 0.5rem;
        width: 80%;
        &:focus {
        outline: none;
        }
    }

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 60vw;
    min-width: 280px;
    max-width: 500px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2rem;
    background-color: rgb(249, 255, 246);
    border: 3px solid rgb(175, 255, 172);
    border-radius: 0.8rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .form_title {
        font-size: 1.3rem;
        margin: 0.25rem 0;
    }
    .form_input {
        margin: 0.1rem;
        &:focus {
        outline: none !important;
        }
    }
    .form_button {
        background-color: rgb(248, 204, 46);
        color: white;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.0rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-top: 1rem;
        width: 80%;
        &:focus {
        outline: none;
        }
        &:hover {
            background-color: rgba(248, 204, 46, 0.595);
            color: white;
            cursor: pointer;
        }
    }
}

.users {
    background-color: rgb(249, 255, 245);
    border-radius: 0.9rem;
    padding: 0.2rem;
    text-align: center;
    margin: 1rem;
}

